{% capture formName %}
 {% if formName and formName != "" %}
  {{formName}} 
 {% else %}
 {{page.url}}
 {% endif %} 
{% endcapture %}
<div class="w-full flex flex-col justify-center items-center">
  <form
    {% if successPage %}
    action="{{ successPage }}"
    {% endif %}
    method="POST"
    data-netlify="true"
    data-netlify-recaptcha="true"
    name="{{ formName | strip }}"
    class="w-full max-w-[512px]">

  {% if sectionId %}
    {% bookshop "util/IdScrollEvent" sectionId: sectionId %}
  {% endif %}
    {% for element in form_elements %}
      <div class="mt-4">{% bookshop "{{element._bookshop_name}}" bind: element %}</div>
    {% endfor %}
    <div class="mt-4" data-netlify-recaptcha="true"></div>
    <div class="mt-5 flex justify-end">{% bookshop "generic/button" bind: submitButton %}</div>
    <div class="flex justify-center">
      <ul class="underline text-sm flex flex-wrap overflow-hidden gap-x-4 gap-y-1 ">
        {% if site.termsAndConditionsUrl and site.termsAndConditionsUrl != "" %}
        <li class="hover:underline after:absolute after:content-['|'] after:scale-150 relative before:content-[' '] after:left-[-11px] after:text-lg">
          <a
            data-umami-event="TermsAndConditions-footer"
            href="{{ site.termsAndConditionsUrl }}" target="_blank">Terms & Conditions</a>
        </li>
        {% endif %}
        {% if site.privacyPolicyUrl and site.privacyPolicyUrl != "" %}
        <li class="hover:underline after:absolute after:content-['|'] after:scale-150 relative before:content-[' '] after:left-[-11px] after:text-lg">
          <a
            data-umami-event="PrivacyPolicy-footer"
            href="{{ site.privacyPolicyUrl }}" target="_blank">Privacy Policy</a>
        </li>
        {% endif %}
      </ul>
    </div>
  </form>
</div>