
<button 
data-umami-event="{{image.imagePath}}-{{page.url}}-imgModal"
class="c-imageModal {{classes}} transition-all duration-300 scale-100 hover:scale-[101%]  "
_=
"
on click
set modal to #modal-{{id}}
modal.show()
transition #modal-{{id}} opacity to 1 over 0.2s
"
>
{% if image %}
  
{% bookshop "{{image._bookshop_name}}" bind: image class: " aspect-square object-cover object-center w-full h-full" hoverPlay: true thumbOnly: true %}
{% endif %}
</button>
<dialog id="modal-{{id}}" class="fixed top-0 z-[920] h-full w-full overflow-scroll p-4 opacity-0 open:bg-slate-950 open:bg-opacity-60 open:backdrop-blur-lg sm:p-10">
  <div class="flex flex-col gap-10">
    <button
      aria-label="Close image"
      class="sticky top-0 self-end font-bold text-white opacity-60"
      _="
          on click
          set modal to #modal-{{id}}
          transition #modal-{{id}} opacity to 0 over 0.1s settle then
          modal.close()
          ">
      {% bookshop "generic/heroLibraryIcon" heroLibraryIconName: "x-mark" iconType: "solid" iconSize: 'large' roundedBorder: false color: "#ffffff" %}
    </button>
    <div class="self-center w-full max-w-[90%] {% if image._bookshop_name != "generic/videoEmbed" %}flex justify-center{% endif %}">

{% if image %}
  
        {% bookshop "{{image._bookshop_name}}" bind: image class: "max-w-[90%] object-cover object-center" attributes: "controls" %}
{% endif %}
    </div>
  </div>
</dialog>