
<div class=" relative">
  <label class="block text-xs uppercase font-bold text-{{color_group}}-textcolor" for="{{ id }}">{{ label }} {% if required %}
*{% endif %}</label>
  <select 
  class="text-base appearance-none {{theme.container_rounding}} w-full border border-{{color_group}}-textcolor py-1 px-2 bg-{{color_group}}-backgroundcolor hover:border-{{color_group}}-accentcolor"
    name="{{ label }}"
    id="{{ id }}"
    {% if required %}
    required{% endif %}
    {% if helperText %}aria-describedby="{{ id }}--helper"{% endif %}>
        {% for option in options %}
            <option value="{{ option.name }}">{{ option.name }}</option>
        {% endfor %}
  </select>
  <div class="absolute top-[26px] right-2 pointer-events-none">{% bookshop "generic/heroLibraryIcon" heroLibraryIconName:"chevron-down" iconType:"solid" iconSize:'micro' roundedBorder:false themeColor:true %}</div>

  {% if helperText and helperText != '' %}
    <div class="mt-2">{% bookshop "generic/form/helperText" id:id helperText: helperText  %}</div>
{% endif %}
</div>


