<div class="relative c-dateInput">
  <label class="block text-xs uppercase font-bold text-{{color_group}}-textcolor" for="{{ id }}">{{ label }}{% if required %}
      *{% endif %}
    <input
      class="block text-base appearance-none {{theme.container_rounding}} font-normal w-full border border-{{color_group}}-textcolor py-1 px-2 bg-{{color_group}}-backgroundcolor hover:border-{{color_group}}-accentcolor"
      type="time"
      onfocus="this.showPicker()"
      id="{{ id }}"
      name="{{ label }}"
      value="{{ placeholder }}"
      {% if min %}
      min="{{ min | militaryTime }}"
      {% endif %}
      {% if max %}
      max="{{ max | militaryTime }}"
      {% endif %}
      {% if required %}
      required{% endif %}
      {% if helperText %}
      aria-describedby="{{ id }}--helper"
      {% endif %}>
    <div class="absolute top-[26px] right-2 pointer-events-none">{% bookshop "generic/heroLibraryIcon" heroLibraryIconName: "clock" iconType: "outline" iconSize: 'micro' roundedBorder: false themeColor: true %}</div>
  </label>


  {% if helperText and helperText != '' %}
    <div class="mt-2">{% bookshop "generic/form/helperText" id: id helperText: helperText %}</div>
  {% endif %}

</div>