<li class="relative max-h-[300px] max-w-[400px] overflow-hidden {{theme.container_rounding}} transition-all duration-300 scale-100 hover:scale-105">
          <a 
          data-umami-event="{{title}}-{{page.url}}-servicesCard"
          href="{{url}}" class=" ">
            {% bookshop "generic/image" bind: image class: "aspect-[4/3] object-cover object-center" %}
            <div class="absolute bottom-5 right-5 flex flex-col items-end px-4 font-[oswald] font-bold text-white ">
              <p class="bg-black bg-opacity-40 p-2">{{title}}</p>
              <p class="underline bg-black bg-opacity-40 pb-2 px-2">Learn more →</p>
            </div>
          </a>
        </li>