{% if env_bookshop_live %}
  {% assign postListItems = collections.happenings %}
{% else %}
  {% assign postListItems = pagination.items %}
{% endif %}{% assign color_group = styles.color_group %}
{% comment %} "happenings" is a data file that is being passed into this funciton src/data/happenings.yml {% endcomment %}
{% assign postListItems = collections.happenings | concat: collections.blog | happeningsFilter: page, happenings, contents.tags, 22 %}

{% capture opacity %}after:bg-opacity-[{{ styles.backgroundOpacity }}%]
  {% endcapture %}
{% assign counter = 0 %}
{% assign cardStyle = 'generic/happenings/' | append: styles.cardStyle | append: "Card" %}
{% assign color_group = styles.color_group %}

<div class=" {% if postListItems.size <= 0 %} bg-{{styles.color_group}}-backgroundcolor componentcontainer {% endif %}">
  {% if postListItems.size > 0 %}
    <div class="">

      {% if contents.sectionId %}
        {% bookshop "util/IdScrollEvent" sectionId: contents.sectionId %}
      {% endif %}
      {% if env_bookshop_live and contents.showNote %}
        {% bookshop "generic/notification" heading: "No Filtering or Countdown and UTC" text: "The filtering do not work while editing, but works correctly on the live site. <br>The countdown will not tick down while editing, but will show up on the live site <br><br> The time will show up as UTC while live editing but will show up as local time on the live site" %}
      {% endif %}
      {% for entry in postListItems %}
        {% assign temp = entry.data.cancelled %}
        {% if contents.showCancelled != true and entry.data.cancelled == true %}
          {%- continue -%}
        {% endif %}
        {% capture eventTitle %}
          {% if entry.data.cancelled == true %}
            {{"CANCELLED <br> " |  append: entry.data.title}}
            {% else %}
            {{ entry.data.title }}
          {% endif %}
        {% endcapture %}
        {% capture image %}
                {% if entry.url contains "happenings/" %}
                {% if entry.data.happeningImage and entry.data.happeningImage != ""  %}
                image:
                    imagePath: {{ entry.data.happeningImage }}
                    imageAlt: {{ entry.data.imageAltText }}
                {% else %}
                image:
                    imagePath: {{ happenings.defaultImage }}
                    imageAlt: {{ happenings.defaultImageAltText }}
                {% endif %}
                {% else %}
                {% if entry.data.blogImage and entry.data.blogImage != ""  %}
                image:
                    imagePath: {{ entry.data.blogImage }}
                    imageAlt: {{ entry.data.imageAltText }}
                {% else %}
                image:
                    imagePath: {{ blog.defaultImage }}
                    imageAlt: {{ blog.defaultImageAltText }}
                {% endif %}
                {% endif %}
                {% endcapture %}
        {% capture happeningInfo %}
                happeningTitle: {{ eventTitle | stringifyFilter |  strip }}
                url: {{ entry.url }}
                happeningDatetime: '{% if entry.data.happeningDate %}{{ entry.data.happeningDate }}{% else %}{{ entry.date }}{% endif %}'
                cancelled: {{ entry.data.cancelled }}
                blogTags: {{ entry.data.tags | ymlify | split: "," | json}}
                {{ image | strip}}
                color_group: {{styles.color_group}}
                {% endcapture %}
        {% assign happeningInfo = happeningInfo | ymlify %}
        {% capture hapeningHeadline %}
              
            {% endcapture %}
        {% if counter < 1 %}
          <div class="c-upcomingHappening cs-w-full relative flex flex-col items-center min-h-[70vh] overflow-hidden pb-16">
            <div class="absolute inset-0 -z-10 flex items-center justify-between after:contents[''] after:absolute after:inset-0 after:bg-black after:bg-op {{opacity}} ">
              {% assign image = image | strip | ymlify %}
              {% bookshop "generic/image" bind: image.image class: "min-h-[70vh] h-full w-screen object-cover " %}
            </div>

            <section class="basecontainer w-full flex flex-col h-full min-h-[70vh] justify-between text-white">
              <div class="  flex justify-center flex-wrap gap-x-8">
                {% assign summaryShort = entry.data.summary %}
                {% assign summaryCharCount = entry.data.summary | size %}
                {% if summaryCharCount > 700 %}
                  {% assign summaryShort = summaryShort | slice: 0, 700 | append: '...' %}
                {% endif %}
                {% capture headingHappening %}
                      content:
                          headline: {{eventTitle| stringifyFilter}}
                          description: {{summaryShort| stringifyFilter}}
                          headingHierarchy: "h2"
                      styles:
                          contentAlignment: center
                          textAlignment: center
                          textClassOverride: text-white
                  {% endcapture %}
                {% assign headingHappening = headingHappening | ymlify %}
                {% assign dateUUID = "" | uuidFilter %}
                {% if contents.showCountdown %}
                  <div
                    {% if entry.data.cancelled != true %}
                    _="on intersection(intersecting) having threshold 0.1
                  set $started to false
                  repeat while intersecting and not :started
                  set :currentTime to Date.now()
                  set :happeningDate to Date.parse('{{entry.data.happeningDate | date: "%Y-%m-%dT%H:%M:%S%z"}}')
                  set :timeDifference to :happeningDate - :currentTime
                  set :days to Math.floor(:timeDifference / (1000 * 60 * 60 * 24))
                  set :hours to Math.floor((:timeDifference mod (1000 * 60 * 60 * 24)) / (1000 * 60 * 60))
                  set :minutes to Math.floor((:timeDifference mod (1000 * 60 * 60)) / (1000 * 60))
                  set :seconds to Math.floor((:timeDifference mod (1000 * 60)) / 1000)
                  if :started then
                  put 'Already started' into #{{"countdown-" |  append: dateUUID}}
                  break
                  end
                  if :days <= 0 and :hours <= 0 and :minutes <= 0 and :seconds <= 0 then
                  put 'Already started' into #{{"countdown-" |  append: dateUUID}}
                  set :started to true
                  break
                  end
                  put :days into #{{"days-" |  append: dateUUID}}
                  put :hours into #{{"hours-" |  append: dateUUID}}
                  put :minutes into #{{"minutes-" |  append: dateUUID}}
                  put :seconds into #{{"seconds-" |  append: dateUUID}}
                  wait 1s
                  if intersecting !== true then break end
                  end
                  "
                    {% endif %}>
                    <div id="{{"countdown-" |  append: dateUUID}}" class="font-bold text-4xl sm:text-5xl uppercase flex flex-wrap gap-10 text-center mt-10 justify-center ">
                      {% if entry.data.cancelled != true %}
                        <div class="flex gap-x-10 ">
                          <div>
                            <p id="{{"days-" |  append: dateUUID}}" class="">-·-</p>
                            <p class="opacity-80 font-bold text-lg">Days</p>
                          </div>
                          <div>
                            <p id="{{"hours-" |  append: dateUUID}}" class="">-·-</p>
                            <p class="opacity-80 font-bold text-lg">Hours</p>
                          </div>
                        </div>
                        <div class="flex gap-x-10">
                          <div>
                            <p id="{{"minutes-" |  append: dateUUID}}" class="">-·-</p>
                            <p class="opacity-80 font-bold text-lg">Minutes</p>
                          </div>
                          <div>
                            <p id="{{"seconds-" |  append: dateUUID}}" class="">-·-</p>
                            <p class="opacity-80 font-bold text-lg">seconds</p>
                          </div>
                        </div>
                      {% endif %}

                    </div>
                  </div>

                {% endif %}
              </div>
              <div class="mt-20">{% bookshop "generic/heading" bind: headingHappening %}</div>
              <div class="flex justify-between w-full items-end flex-wrap mt-20  gap-2 sm:gap-4">
                <div>
                  <p class="uppercase font-bold text-2xl sm:text-4xl opacity-70">When:</p>
                  <p
                    {% if entry.data.cancelled != true %}
                    _="on load
                  set happeningDate to Date.parse('{{entry.data.happeningDate | date: "%Y-%m-%dT%H:%M:%S%z"}}')
                  log happeningDate
                  set timezone to Intl.DateTimeFormat().resolvedOptions().timeZone
                  js(happeningDate,timezone)  
                  dt = new Date(happeningDate);
                  console.log(dt);
                  return dt.toLocaleString('en-US', { timeZone: timezone }) end
                  put it into my.innerHTML
                  "
                    {% endif %}
                    class="text-3xl sm:text-5xl font-bold opacity-90">
                    {% if entry.data.cancelled %}
                      CANCELLED
                    {% else %}
                      {{ entry.data.happeningDate | date: "%Y-%m-%d %I:%M %P", 0 }} UTC
                    {% endif %}
                  </p>
                  <ul class="  flex flex-wrap gap-x-4 overflow-hidden ">
                    {% for tag in entry.data.tags %}
                      {% if tag != 'undefined' %}
                        <li class="hover:underline after:absolute after:content-['·'] after:scale-150  after:left-2 relative before:content-[' '] after:left-[-10px] after:text-lg ">
                          <a class="font-bold" href="/tag/{{ tag | slug }}/">{{ tag | capitalize | replace: ' ', '' }}</a>
                        </li>
                      {% endif %}
                    {% endfor %}
                  </ul>
                </div>
                <a
                  data-umami-event="{{entry.data.title}}-upcomingHappening-{{page.url}}-link"
                  class="text-3xl sm:text-5xl font-bold opacity-80 underline transition-all hover:scale-105"
                  href="{{entry.url}}">Learn more</a>
              </div>
            </section>
          </div>
        {% endif %}
        {% assign counter = counter | plus: 1 %}
      {% endfor %}
    </div>

  {% elsif contents.noHappeningsHeading %}
    {% bookshop {{contents.noHappeningsHeading._bookshop_name}} bind: contents.noHappeningsHeading %}
  {% else %}
  {% endif %}
</div>