{% assign color_group = styles.card_color_group %}

{% capture highlightClasses %}
    {% if styles.highlight %}
        border-2 border-{{color_group}}-{{styles.highlightColor}}color
    {% endif %}
{% endcapture %}
<div class="flex flex-col justify-between min-h-[400px] max-w-[390px] min-w-[250px] w-full py-7 px-6 {{theme.container_rounding}} bg-{{styles.card_color_group}}-{{styles.colorFromGroup}}color text-{{styles.card_color_group}}-highcontrast-{{styles.colorFromGroup}}color flex-1 {{highlightClasses}}">
  <div>
    <div>
      {% capture heading %}
                content:
                    headline: {{content.heading | stringifyFilter}}
                    headingHierarchy: "h3"
                styles:
                    contentAlignment: left
                    textAlignment: left
                    highContrast: true
                    contrastColorGroup: "{{styles.card_color_group}}"
                    contrastAgainst: "{{styles.colorFromGroup}}"
            {% endcapture %}
      {% assign heading = heading | ymlify %}
      {% bookshop "generic/heading" bind: heading %}
      <p class="text-sm opacity-70">{{ content.shortDescription }}</p>
    </div>
    <div class="mt-10">
      <p class="text-3xl">{{ content.price }}</p>
      <p class="opacity-70">{{ content.priceDescription }}</p>
    </div>
    <div class="c-pricingCard mt-10 border-t-2  pt-10">
      {% if content.description %}
        {% bookshop "generic/textBlock" text: content.description %}{% endif %}
    </div>
  </div>
  {% if content.buttons %}
    <div class="mt-14 flex w-full gap-8 flex-wrap justify-center">
      {% for button in content.buttons %}
        {% bookshop "{{button._bookshop_name}}" bind: button %}
      {% endfor %}

    </div>
  {% endif %}
</div>