{% capture imageClasses %}
    w-full object-cover object-center aspect-[3/4] {{theme.image_rounding}}
  {% if content.link and content.link != '' %} transition-all duration-300 scale-100 hover:scale-105 {% endif %}
{% endcapture %}
{% capture iconClasses %}
  stroke-{{style.color_group}}-highcontrast-{{style.colorFromGroup}}color
{% endcapture %}
{% if content.link and content.link != '' %} <a 
data-umami-event="{{content.name}}-{{page.url}}-memberCard"
href="{{ content.link }}">{% endif %}

<div class="c-defaultMemberCard max-w-[350px] flex flex-col justify-center {% if content.link and content.link != '' %} cursor-pointer{% endif %}">
  {% bookshop "generic/image" bind: content.image class: imageClasses %}
  {% if content.name or content.titleOrDescription %}
    <div class="sm:px-6 px-4 -mt-[30px] {% if content.link and content.link != '' %} relative z-10{% endif %}">
      {% if content.link and content.link != '' %}
        <div class="absolute top-2 right-8">{% bookshop "generic/heroLibraryIcon" heroLibraryIconName: "arrow-top-right-on-square" iconType: "outline" iconSize: 'micro' roundedBorder: false classOverride: iconClasses %}</div>
      {% endif %}

      <div class="p-3 bg-{{style.color_group}}-{{style.colorFromGroup}}color bg-opacity-90 text-{{style.color_group}}-highcontrast-{{style.colorFromGroup}}color {{theme.container_rounding}} shadow-[0px_2px_8px_0px_rgba(0,0,0,0.15)] text-center">
        <h3 class="text-[1.375rem] font-bold opacity-85 px-4{% if content.link and content.link != '' %} hover:underline {% endif %}">{{ content.name }}</h3>
        <p class="opacity-75">{{ content.titleOrDescription }}</p>
      </div>
    </div>
  {% endif %}

</div>
{% if content.link and content.link != '' %} </a>{% endif %}
