
<div class="">
  <label class="block text-xs uppercase font-bold text-{{color_group}}-textcolor" for="{{ id }}">{{ label }}{% if required %}
      *{% endif %}
      <input
    class="block text-base appearance-none {{theme.container_rounding}} font-normal w-full border border-{{color_group}}-textcolor py-1 px-2 bg-{{color_group}}-backgroundcolor hover:border-{{color_group}}-accentcolor"
    type="tel"
    pattern="^[0-9]{3}-?\s?.?[0-9]{3}-?\s?.?[0-9]{4}"
    id="{{ id }}"
    name="{{ label }}"
    placeholder="{{ placeholder }}"
    {% if required %}
    required{% endif %}
    {% if helperText %}
    aria-describedby="{{ id }}--helper"
    {% endif %}>
  </label>
  

  {% if helperText and helperText != '' %}
    <div class="mt-2">{% bookshop "generic/form/helperText" id: id helperText: helperText %}</div>
  {% endif %}
</div>
