{% if env_bookshop_live %}
    {% assign postListItems = collections.blog %}
    {% elsif tag %}
        {% assign postListItems = collections[tag] %}
    {% elsif pagination and page.url == "/blog/"%}
    {% assign postListItems = pagination.items %}
    {% else %}
    {% assign postListItems = collections.blog %}
{% endif %}
{% assign color_group = styles.color_group %}
{% assign counter = 0 %}
{% assign cardStyle = 'generic/blog/' |  append: styles.cardStyle | append: "Card" %}
{% assign featureStyle = 'generic/blog/' |  append: styles.cardStyle | append: "Featured" %}

<div class="cs-w-full py-20 bg-{{styles.color_group}}-backgroundcolor flex flex-col items-center justify-center text-{{styles.color_group}}-textcolor">
    
    <div  class="basecontainer">

  {% if content.sectionId %}
    {% bookshop "util/IdScrollEvent" sectionId: content.sectionId %}
  {% endif %}
        {% if env_bookshop_live %}
            
        {% endif %}
        {% if env_bookshop_live and content.showNote %}
            {% bookshop "generic/notification" heading:"Blog Cards" text:"The time to read will not show up while editing, but will show up on the live site" %}
        {% endif %}
        {% if content.heading %} {% bookshop {{content.heading._bookshop_name}} bind: content.heading %} {% endif %}
        <div class="grid  grid-cols-1 md:grid-cols-2 lg:grid-cols-3   gap-10 md:gap-20 mt-12">
            {% for entry in postListItems %}
                {% capture blogAuthor %}
                    {% for writer in authors %}
                        {% if entry.data.author == writer.id %}
                            {{ writer.name }}
                        {% endif %}
                    {% endfor %}
                {% endcapture %}
                {% capture image %}
                {% if entry.data.blogImage and entry.data.blogImage != ""  %}
                image:
                    imagePath: {{ entry.data.blogImage }}
                    imageAlt: {{ entry.data.imageAltText }}
                {% else %}
                image:
                    imagePath: {{ blog.defaultImage }}
                    imageAlt: {{ blog.defaultImageAltText }}
                {% endif %}
                {% endcapture %}
                {% capture blogInfo %}
                blogTitle: {{ entry.data.title | stringifyFilter }}
                url: {{ entry.url }}
                author: {{blogAuthor | strip}}
                date: '{% if entry.data.date %}{{ entry.data.date }}{% else %}{{ entry.date }}{% endif %}'
                length: {{ entry.content | readTimeFilter }}
                blogTags: {{ entry.data.tags | ymlify | split: "," | json}}
                {{image | strip}}
                color_group: {{styles.color_group}}
                {% endcapture %}
                {% assign blogInfo = blogInfo | ymlify %}
                {% if entry == postListItems.first %}
                    {% bookshop {{featureStyle}} bind:blogInfo %}
                    {% elsif counter<21 %}
                        {% bookshop {{cardStyle}} bind:blogInfo %}
                        {% if env_bookshop_live %}
                            {% assign counter = counter | plus: 1 %}
                        {% endif %}
                {% endif %}
        
            {% endfor %}
        </div>
    </div>
    {% if env_bookshop_live %}
        {% else %}
        {% unless tag %}
            {% bookshop "generic/blog/pagination" pagination:pagination color_group:color_group %}
        {% endunless %}
        
    {% endif %}
</div>


