{% if env_bookshop_live %}
  {% assign author = 'jane Doe' %}
  {% assign length = '2 min' %}
  {% assign date = '2020-01-17' %}
  {% capture blogTags %}
  Business,Announcement
  {% endcapture %}
  {% assign blogTags = blogTags | split: "," %}
  {% assign blogTitle = 'How to quickly build a website visually' %}
{% endif %}

{% capture imageClasses %}
w-full {{theme.image_rounding}} transition-all duration-300 scale-100 hover:scale-[1.03] object-cover aspect-[3/2]
{% endcapture %}

<div class="w-full ">
  <div class="flex justify-between text-sm opacity-70">
    <div class="">
      <p>Written by</p>
      <p>{{ author }}</p>
    </div>
    <div class="text-right">
      <p>{{ length }}</p>
      <time datetime="{{ date | date: "%Y-%m-%d" }}">{{ date | date: "%B %d, %Y" }}</time>
    </div>
  </div>
  <a 
  data-umami-event="{{blogTitle}}-{{page.url}}-blogCardImg"
  class="" href="{{url}}">
      {% bookshop "generic/image" bind: image class: imageClasses %}
  </a>
  <ul class=" flex text-{{color_group}}-secondarycolor flex flex-wrap gap-x-4 overflow-hidden opacity-70">
    {% for tag in blogTags %}
      {% if tag != 'undefined' %}
        <li class="hover:underline after:absolute after:content-['·'] after:scale-150  after:left-2 relative before:content-[' '] after:left-[-10px] after:text-lg ">
        <a 
        data-umami-event="{{tag | slug}}-{{blogTitle}}-{{page.url}}-tags"
        class="font-bold" href="/tag/{{ tag | slug }}/">{{ tag | capitalize | replace: ' ', '' }}</a>
      </li>
    {% endif %}
    {% endfor %}
  </ul>
  <h2 class="hover:underline text-2xl">
    <a 
    data-umami-event="{{blogTitle}}-{{page.url}}-blogCardHeading"
    href="{{url}}">{{ blogTitle }}</a>
  </h2>
</div>